/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#ifndef KEYMAP_DRAWER
#include "keys_de.h"
#endif

#include <behaviors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define TO_STRING(x) #x

#define DEF 0
#define NAV 1
#define NUM 2
#define FUN 3
#define HW  4
#define GER 5
#define MSE 6

#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24  // left hand
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29  // right hand
#define THUMBS 30 31 32 33                              // thumbs

#include "combos.dtsi"

&caps_word {
    continue-list = <BACKSPACE DELETE DE_UNDERSCORE DE_MINUS N0 N1 N2 N3 N4 N5 N6 N7 N8 N9>;
};

&sk {
    quick-release;
    release-after-ms = <900>;
};

&sl {
    ignore-modifiers;
};

&mt {
    quick-tap-ms = <220>;
    tapping-term-ms = <220>;
};

#define HM(NAME, TAP, HT_KEYPOS) \
    NAME: NAME { \
        compatible = "zmk,behavior-hold-tap"; \
        label = TO_STRING(HM_ ## NAME); \
        #binding-cells = <2>; \
        tapping-term-ms = <280>; \
        quick-tap-ms = <175>; \
        require-prior-idle-ms = <175>; \
        flavor = "balanced"; \
        bindings = <&kp>, <TAP>; \
        hold-trigger-key-positions = <HT_KEYPOS THUMBS>; \
        hold-trigger-on-release; \
    };

#define SM(NAME, TAP, SHIFTED) \
    NAME: NAME { \
        compatible = "zmk,behavior-mod-morph"; \
        label = TO_STRING(SM_ ## NAME); \
        bindings = <TAP>, <SHIFTED>; \
        #binding-cells = <0>; \
        mods = <(MOD_RSFT|MOD_LSFT)>; \
    };

/ {

    behaviors {

        HM(hml,         &kp,            KEYS_R)
        HM(hml_repeat,  &key_repeat,    KEYS_R)

        HM(hmr,         &kp,            KEYS_L)
        HM(hmr_lpar_lt, &lpar_lt,       KEYS_L)
        HM(hmr_rpar_gt, &rpar_gt,       KEYS_L)
        HM(hmr_par_lgt, &par_lgt,       KEYS_L)

        SM(sqt_dqt, &kp DE_SQT, &kp DE_DQT)
        SM(qexcl, &kp DE_QMARK, &kp DE_EXCL)
        SM(masked_home, &kp HOME, &kp HOME)
        SM(masked_end, &kp END, &kp END)
        SM(lpar_lt, &kp DE_LPAR, &kp DE_LT)
        SM(rpar_gt, &kp DE_RPAR, &kp DE_GT)
        SM(lbkt_lbrc, &kp DE_LBKT, &kp DE_LBRC)
        SM(rbkt_rbrc, &kp DE_RBKT, &kp DE_RBRC)
        SM(par_lgt, &par_macro, &lgt_macro)
        SM(bkt_brc, &bkt_macro, &brc_macro)
        SM(sqt_dqt_macro, &sqt_macro, &dqt_macro)

        mt_home: mt_home {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_HOME";
            bindings = <&masked_home>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            quick-tap-ms = <220>;
            tapping-term-ms = <220>;
        };

        mt_end: mt_end {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_END";
            bindings = <&masked_end>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            quick-tap-ms = <220>;
            tapping-term-ms = <220>;
        };

        mt_td_scw: mt_td_scw { // wrapper for tap-dance, workaround for #1691
            compatible = "zmk,behavior-hold-tap";
            label = "MT_TD_SCW";
            bindings = <&kp>, <&td_scw>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        td_scw: td_shift_caps_word {
            compatible = "zmk,behavior-tap-dance";
            label = "shift on tap, caps_word on double-tap";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT>, <&caps_word>, <&kp CLCK>;

            tapping-term-ms = <400>;
        };

        td_sqt_dqt: td_sqt_dqt {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SQT_DQT";
            #binding-cells = <0>;
            bindings = <&sqt_dqt>, <&sqt_dqt_macro>;

            tapping-term-ms = <270>;
        };
    };

    macros {
        ZMK_MACRO(par_macro,
            bindings = <&kp DE_LPAR &kp DE_RPAR &kp LEFT>;
        )

        ZMK_MACRO(bkt_macro,
            bindings = <&kp DE_LBKT &kp DE_RBKT &kp LEFT>;
        )

        ZMK_MACRO(brc_macro,
            bindings = <&kp DE_LBRC &kp DE_RBRC &kp LEFT>;
        )

        ZMK_MACRO(sqt_macro,
            bindings = <&kp DE_SQT &kp DE_SQT &kp LEFT>;
        )

        ZMK_MACRO(lgt_macro,
            bindings =
                <&kp DE_LT &kp DE_GT>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp LEFT>;
        )

        ZMK_MACRO(dqt_macro,
            bindings =
                <&kp DE_DQT &kp DE_DQT>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp LEFT>;
        )
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer  {
            if-layers = <NAV NUM>;
            then-layer = <HW>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "DEF";
            bindings = <
&kp Q        &kp W        &kp F         &kp P          &kp B               &kp J         &kp L         &kp U         &kp DE_Y     &td_sqt_dqt
&hml LGUI A  &hml LALT R  &hml LCTRL S  &hml LSHIFT T  &kp G               &kp M         &hmr RSHFT N  &hmr LCTRL E  &hmr LALT I  &hmr LGUI O
&kp DE_Z     &kp X        &kp C         &lt 6 D        &kp V               &kp K         &kp H         &kp DE_COMMA  &kp DE_DOT   &qexcl
                                        &mo NAV        &mt_td_scw LSHFT 0  &lt FUN SPACE &mo NUM
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
&kp ESC       &kp LC(W)  &kp LC(F)    &kp BSPC   &kp INS      &trans           &kp PG_DN          &kp PG_UP        &trans           &trans
&sk LGUI      &sk LALT   &sk LCTRL    &sk LSHFT  &sk RALT     &mt_home 0 LEFT  &mt LC(END) DOWN   &mt LC(HOME) UP  &mt_end 0 RIGHT  &kp PAUSE_BREAK
&kp LC(DE_Z)  &kp LC(X)  &kp LC(INS)  &trans     &kp LS(INS)  &kp RET          &mt LC(BSPC) BSPC  &kp TAB          &mt LC(DEL) DEL  &kp PSCRN
                                      &trans     &trans       &trans           &trans
            >;
        };

        num_layer {
            label = "NUM";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp DE_DOT    &kp N7  &kp N8  &kp N9  &kp BSPC
&trans  &trans  &trans  &trans  &trans  &kp DE_COMMA  &kp N4  &kp N5  &kp N6  &kp RET
&trans  &trans  &trans  &trans  &trans  &kp N0        &kp N1  &kp N2  &kp N3  &trans
                        &trans  &trans  &trans        &trans
            >;
        };

        fun_layer {
            label = "FUN";
            bindings = <
&trans  &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &kp C_BRI_UP  &kp F12  &kp F7  &kp F8  &kp F9  &kp LC(DE_PLUS)
&trans  &trans        &trans      &trans        &kp C_BRI_DN  &kp F11  &kp F4  &kp F5  &kp F6  &kp LC(DE_MINUS)
&trans  &kp C_PREV    &kp C_PP    &kp C_NEXT    &trans        &kp F10  &kp F1  &kp F2  &kp F3  &kp LC(N0)
                                  &trans        &trans        &trans   &trans
            >;
        };

        hw_layer {
            label = "HW";
            bindings = <
&bootloader  &trans  &trans        &trans        &trans  &trans  &trans        &trans        &trans        &bootloader
&trans       &trans  &out OUT_USB  &out OUT_TOG  &trans  &trans  &bt BT_NXT    &out OUT_BLE  &bt BT_CLR    &trans
&trans       &trans  &trans        &trans        &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans
                                   &trans        &trans  &trans  &trans
            >;
        };

        ger_layer {
            label = "GER";
            bindings = <
&trans           &trans  &trans     &trans  &trans  &trans  &trans  &kp DE_U_UMLAUT  &kp DE_ACUTE  &kp DE_GRAVE
&kp DE_A_UMLAUT  &trans  &kp DE_SZ  &trans  &trans  &trans  &trans  &trans           &trans        &kp DE_O_UMLAUT
&trans           &trans  &trans     &trans  &trans  &trans  &trans  &trans           &trans        &trans
                                    &trans  &trans  &trans  &trans
            >;
        };

        mouse_layer {
            label = "MSE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans     &mkp MB4   &mkp MB3  &mkp MB5  &trans
                        &trans  &trans  &mkp LCLK  &mkp RCLK
            >;
        };
    };
};
