/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define TO_STRING(x) #x

#ifndef KEYMAP_DRAWER
#include "keys_de.h"
#endif

#include <behaviors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define NAV 1
#define NUM 2
#define FUN 3
#define HW  4
#define GER 5
#define MSE 6

#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24  // left hand
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29  // right hand
#define THUMBS 30 31 32 33                              // thumbs

#include "combos.dtsi"

&caps_word {
    continue-list = <BACKSPACE DELETE DE_UNDER DE_MINUS N0 N1 N2 N3 N4 N5 N6 N7 N8 N9>;
};

&sk {
    quick-release;
    release-after-ms = <900>;
};

&mt {
    quick-tap-ms = <220>;
    tapping-term-ms = <220>;
};

#define HM(NAME, TAP, HT_KEYPOS) \
    NAME: NAME { \
        compatible = "zmk,behavior-hold-tap"; \
        label = TO_STRING(HM_ ## NAME); \
        #binding-cells = <2>; \
        tapping-term-ms = <280>; \
        quick-tap-ms = <175>; \
        require-prior-idle-ms = <175>; \
        flavor = "balanced"; \
        bindings = <&kp>, <TAP>; \
        hold-trigger-key-positions = <HT_KEYPOS THUMBS>; \
        hold-trigger-on-release; \
    };

#define SM(NAME, TAP, SHIFTED) \
    NAME: NAME { \
        compatible = "zmk,behavior-mod-morph"; \
        label = TO_STRING(SM_ ## NAME); \
        bindings = <TAP>, <SHIFTED>; \
        #binding-cells = <0>; \
        mods = <(MOD_RSFT|MOD_LSFT)>; \
    };
    
#define TD(NAME, T_TERM, TAP1, TAP2, ...) \
    NAME: NAME { \
        compatible = "zmk,behavior-tap-dance"; \
        label = TO_STRING(TD_ ## NAME); \
        #binding-cells = <0>; \
        tapping-term-ms = <270>; \
		bindings = <TAP1>, <TAP2> __VA_OPT__(, <)__VA_ARGS__ __VA_OPT__(>); \
    };

#define CT(KEY) &mt LC(KEY) KEY

/ {
    behaviors {
        // home row mods
        HM(hml,         &kp,            KEYS_R)
        HM(hml_repeat,  &key_repeat,    KEYS_R)

        HM(hmr,         &kp,            KEYS_L)
        HM(hmr_lpar_lt, &lpar_lt,       KEYS_L)
        HM(hmr_rpar_gt, &rpar_gt,       KEYS_L)
        HM(hmr_par_lgt, &par_lgt,       KEYS_L)

        // shift morphs
        SM(qexcl,           &kp DE_QMARK,   &kp DE_EXCL)

        SM(sqt_dqt,         &kp DE_SQT,     &kp DE_DQT)
        SM(sqt_dqt_macro,   &sqt_macro,     &dqt_macro)

        SM(lpar_lt,         &kp DE_LPAR,    &kp DE_LT)
        SM(rpar_gt,         &kp DE_RPAR,    &kp DE_GT)
        SM(par_lgt,         &par_macro,     &lgt_macro)

        SM(lbkt_lbrc,       &kp DE_LBKT,    &kp DE_LBRC)
        SM(rbkt_rbrc,       &kp DE_RBKT,    &kp DE_RBRC)
        SM(bkt_brc,         &bkt_macro,     &brc_macro)

        // tap-dance
        TD(td_scw,      400,    &kp LSHIFT, &caps_word,     &kp CLCK)
        TD(td_sqt_dqt,  270,    &sqt_dqt,   &sqt_dqt_macro)

        scw: scw { // wrapper for tap-dance, workaround for #1691
            compatible = "zmk,behavior-hold-tap";
            label = "shift-caps-word";
            bindings = <&td_scw>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    macros {
        // ( ) <-
        ZMK_MACRO(par_macro,
            bindings = <&kp DE_LPAR &kp DE_RPAR &kp LEFT>;
        )
        
        // [ ] <-
        ZMK_MACRO(bkt_macro,
            bindings = <&kp DE_LBKT &kp DE_RBKT &kp LEFT>;
        )

        // { } <-
        ZMK_MACRO(brc_macro,
            bindings = <&kp DE_LBRC &kp DE_RBRC &kp LEFT>;
        )

        // ' ' <-
        ZMK_MACRO(sqt_macro,
            bindings = <&kp DE_SQT &kp DE_SQT &kp LEFT>;
        )

        // " " <-
        ZMK_MACRO(dqt_macro,
            bindings =
                <&kp DE_DQT &kp DE_DQT>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp LEFT>;
        )

        // < > <-
        ZMK_MACRO(lgt_macro,
            bindings =
                <&kp DE_LT &kp DE_GT>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp LEFT>;
        )

        ZMK_MACRO(bt_0,
            bindings =
                <&out OUT_BLE>,
                <&bt BT_SEL 0>;
        )

        ZMK_MACRO(bt_1,
            bindings =
                <&out OUT_BLE>,
                <&bt BT_SEL 1>;
        )

        ZMK_MACRO(bt_2,
            bindings =
                <&out OUT_BLE>,
                <&bt BT_SEL 2>;
        )
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer  {
            if-layers = <NAV NUM>;
            then-layer = <HW>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEF";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp Q         &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp DE_Y      &td_sqt_dqt
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &hml LGUI A   &hml LALT R   &hml LCTRL S  &hml LSHIFT T &kp G             &kp M         &hmr RSHFT N  &hmr RCTRL E  &hmr LALT I   &hmr LGUI O
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &lt NUM DE_Z  &kp X         &kp C         &lt 6 D       &kp V             &kp K         &kp H         &kp DE_COMMA  &kp DE_DOT    &qexcl
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &mo NAV       &scw 0 RET        &lt FUN SPACE &mo NUM
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        navigation_layer {
            label = "NAV";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp ESC       &kp LC(W)     &kp LC(F)     &kp BSPC      &kp INS           CT(HOME)      &kp PG_DN     &kp PG_UP     CT(END)       &kp C_AL_CALC
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &sk LGUI      &sk LALT      &sk LCTRL     &sk LSHFT     &sk RALT          &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp PSCRN
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LC(DE_Z)  &kp LC(X)     &kp LC(INS)   &kp LS(INS)   &kp LC(DE_Y)      &kp RET       CT(BSPC)      &kp TAB       CT(DEL)       &kp PAUSE_BREAK
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &trans        &none             &none         &trans
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        number_layer {
            label = "NUM";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &none         &none         &none         &none         &none             &kp DE_DOT    &kp N7        &kp N8        &kp N9        &kp BSPC
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &none             &kp N0        &kp N4        &kp N5        &kp N6        &kp RET
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &none         &none         &none         &none         &none             &kp DE_COMMA  &kp N1        &kp N2        &kp N3        &none
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &trans        &none             &none         &trans
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &none         &kp C_VOL_DN  &kp C_MUTE    &kp C_VOL_UP  &kp C_BRI_UP      &kp F12       &kp F7        &kp F8        &kp F9        &kp LC(DE_PLUS)
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &kp C_BRI_DN      &kp F11       &kp F4        &kp F5        &kp F6        &kp LC(DE_MINUS)
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &none         &kp C_PREV    &kp C_PP      &kp C_NEXT    &none             &kp F10       &kp F1        &kp F2        &kp F3        &kp LC(N0)
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &none         &none             &trans        &none
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        hardware_layer {
            label = "HW";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &bootloader   &none         &none         &none         &none             &none         &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bootloader
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &sys_reset    &none         &out OUT_TOG  &out OUT_USB  &none             &bt BT_CLR    &bt_0         &bt_1         &bt_2         &sys_reset
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &none         &none         &none         &none         &none             &none         &none         &none         &none         &none
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &trans        &none             &none         &trans
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        german_layer {
            label = "GER";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &trans        &trans        &trans        &trans        &trans            &trans        &trans        &kp DE_UE     &kp DE_ACUTE  &kp DE_GRAVE
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp DE_AE     &trans        &kp DE_SZ     &trans        &trans            &trans        &trans        &trans        &trans        &kp DE_OE
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &trans        &trans            &trans        &trans
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        mouse_layer {
            label = "MSE";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &none         &none         &none         &none         &none             &none         &none         &none         &none         &none
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &none             &none         &none         &none         &none         &none
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &none         &none         &none         &none         &none             &none         &mkp MB4      &mkp MB3      &mkp MB5      &none
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &none         &none             &mkp LCLK     &mkp RCLK
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };
    };
};
