/*                KEY POSITIONS
26 keys:
      ╭────────────────╮ ╭────────────────╮          ╭─────────────────╮ ╭────────────────╮    
  ╭───╯  0   1   2   3 │ │  4   5   6   7 ╰───╮  ╭───╯ LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3╰────╮
  │  8   9  10  11  12 │ │ 13  14  15  16  17 │  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  ╰───╮ 18  19  20     │ │     21  22  23 ╭───╯  ╰───╮ LB3 LB2 LB1     │ │     RB1 RB2 RB3 ╭───╯
      ╰───────────╮ 24 │ │ 25 ╭───────────╯          ╰───────────╮ LH0 │ │ RH0 ╭───────────╯
                  ╰────╯ ╰────╯                                  ╰─────╯ ╰─────╯
30 keys:
  ╭────────────────────╮ ╭────────────────────╮  ╭─────────────────────╮ ╭─────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  ╰───╮ 20  21  22     │ │     23  24  25 ╭───╯  ╰───╮ LB3 LB2 LB1     │ │     RB1 RB2 RB3 ╭───╯
      ╰───────╮ 26  27 │ │ 28  29 ╭───────╯          ╰───────╮ LH1 LH0 │ │ RH0 RH1 ╭───────╯
              ╰────────╯ ╰────────╯                          ╰─────────╯ ╰─────────╯
34 keys:
  ╭────────────────────╮ ╭────────────────────╮  ╭─────────────────────╮ ╭─────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯  ╰───────────╮ LH1 LH0 │ │ RH0 RH1 ╭───────────╯
              ╰────────╯ ╰────────╯                          ╰─────────╯ ╰─────────╯
*/

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TIMEOUT, ...)     \
    combo_##NAME {                                              \
        timeout-ms = <TIMEOUT>;                                 \
        bindings = <BINDINGS>;                                  \
        key-positions = <KEYPOS>;                               \
        layers = <LAYERS>;                                      \
        require-prior-idle-ms = <150>;                          \
        __VA_ARGS__                                             \
    };

#define COMBO_TERM_FAST 30
#define COMBO_TERM_MID  45
#define COMBO_TERM_SLOW 65

/ {
    combos {
        compatible = "zmk,combos";

#if defined(KEYS_34)
        COMBO(prcnt,     &kp DE_PRCNT,   LT0 LM0    , DEF,     COMBO_TERM_FAST)
        COMBO(tilde,     &kp DE_TILDE,   LM0 LB0    , DEF,     COMBO_TERM_FAST)

        COMBO(caret,     &kp DE_CARET,   RT0 RM0    , DEF,     COMBO_TERM_FAST)
        COMBO(qt_grv,    &qt_grv,        RM0 RB0    , DEF,     COMBO_TERM_FAST)
#else
        COMBO(prcnt,     &kp DE_PRCNT,   LT1 LT0    , DEF,     COMBO_TERM_MID)
        COMBO(tilde,     &kp DE_TILDE,   LB1 LM0    , DEF,     COMBO_TERM_MID)

        COMBO(caret,     &kp DE_CARET,   RT0 RT1    , DEF,     COMBO_TERM_MID)
        COMBO(qt_grv,    &qt_grv,        RB1 RM0    , DEF,     COMBO_TERM_MID)
#endif

        COMBO(dllr,      &kp DE_DLLR,    LT1 LM1    , DEF,     COMBO_TERM_FAST)
        COMBO(hash,      &kp DE_HASH,    LT2 LM2    , DEF,     COMBO_TERM_FAST)
        COMBO(at,        &kp DE_AT,      LT3 LM3    , DEF,     COMBO_TERM_FAST)
        COMBO(equal,     &kp DE_EQUAL,   LM1 LB1    , DEF,     COMBO_TERM_FAST)
        COMBO(bslh,      &kp DE_BSLH,    LM2 LB2    , DEF,     COMBO_TERM_FAST)
        COMBO(euro,      &kp DE_EURO,    LM3 LB3    , DEF,     COMBO_TERM_FAST)

        COMBO(plus,      &kp DE_PLUS,    RT1 RM1    , DEF NUM, COMBO_TERM_FAST)
        COMBO(star,      &kp DE_STAR,    RT2 RM2    , DEF NUM, COMBO_TERM_FAST)
        COMBO(amps,      &kp DE_AMPS,    RT3 RM3    , DEF,     COMBO_TERM_FAST)
        COMBO(minus,     &kp DE_MINUS,   RM1 RB1    , DEF NUM, COMBO_TERM_FAST)
        COMBO(fslh,      &kp DE_FSLH,    RM2 RB2    , DEF NUM, COMBO_TERM_FAST)
        COMBO(pipe,      &kp DE_PIPE,    RM3 RB3    , DEF,     COMBO_TERM_FAST)

        COMBO(z,         &kp DE_Z,       LB3 LB2    , DEF,     COMBO_TERM_MID)
        COMBO(q,         &kp Q,          LT2 LT1    , DEF,     COMBO_TERM_MID)
        COMBO(v,         &kp V,          LT3 LT2    , DEF,     COMBO_TERM_MID)
        COMBO(esc,       &kp ESC,        LM3 LM2    , DEF,     COMBO_TERM_MID)
        COMBO(ret,       &kp RET,        LM2 LM1    , DEF,     COMBO_TERM_MID)
        COMBO(bspc,      &kp BSPC,       LB2 LB1    , DEF,     COMBO_TERM_MID)
        COMBO(int,       &sl INT,        LT3 LT2 LT1, DEF,     COMBO_TERM_SLOW)
        COMBO(tab,       &kp TAB,        LM3 LM2 LM1, DEF,     COMBO_TERM_SLOW)

        COMBO(qe,        &qexcl,         RB2 RB3    , DEF,     COMBO_TERM_MID)
        COMBO(under,     &kp DE_UNDER,   RB1 RB2    , DEF,     COMBO_TERM_MID)
        COMBO(lbrc,      &lbrc_lt,       RT1 RT2    , DEF,     COMBO_TERM_MID)
        COMBO(rbrc,      &rbrc_gt,       RT2 RT3    , DEF,     COMBO_TERM_MID)
        COMBO(lpar,      &lpar_lbkt,     RM1 RM2    , DEF,     COMBO_TERM_MID)
        COMBO(rpar,      &rpar_rbkt,     RM2 RM3    , DEF,     COMBO_TERM_MID)
        COMBO(par,       &par_bkt,       RM1 RM2 RM3, DEF,     COMBO_TERM_SLOW)
        COMBO(brc,       &brc_lgt,       RT1 RT2 RT3, DEF,     COMBO_TERM_SLOW)
        
        COMBO(cw,        &caps_word,     LM1 RM1    , DEF,     COMBO_TERM_SLOW)
        COMBO(bl,        &bootloader,    LM4 RM4    , FUN,     COMBO_TERM_SLOW)
        COMBO(su,        &studio_unlock, LT0 RT0    , FUN,     COMBO_TERM_SLOW)
        COMBO(f11,       &kp F11,        LT0 LM0    , FUN,     COMBO_TERM_MID)

        COMBO(undo,      &kp U_UND,      LB3 LB2    , NAV,     COMBO_TERM_MID)
        COMBO(redo,      &kp U_RDO,      LB2 LB1    , NAV,     COMBO_TERM_MID)

        COMBO(mute,      &kp C_MUTE,     LT3 LT2    , NUM,     COMBO_TERM_MID)
    };
};
