config SHIELD_COSMO_DONGLE
    def_bool $(shields_list_contains,cosmo_dongle)

config SHIELD_COSMO_LEFT
    def_bool $(shields_list_contains,cosmo_left)

config SHIELD_COSMO_RIGHT
    def_bool $(shields_list_contains,cosmo_right)
