if SHIELD_LED_INDICATOR

config LED
    default y

config LED_INDICATOR_BLINK_MS
    int "Duration of BLE connection status blink in ms"
    default 300

config LED_INDICATOR_INTERVAL_MS
    int "Minimum wait duration between two blinks in ms"
    default 150

config LED_INDICATOR_BATTERY_LEVEL_CRITICAL
    int "Critical battery level percentage"
    default 5

endif